#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with autoreconf --parallel

#override_dh_autoreconf:
#	(cd heimdall && autoreconf -fi)

#override_dh_autoclean:
#	if [ -e heimdall/Makafile ]; then $(MAKE) -C heimdall clean; fi

override_dh_auto_configure:
	(cd heimdall && mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release ..)

override_dh_auto_build:
	$(MAKE) -C heimdall

override_dh_installudev:
	dh_installudev --name=galaxy-s --priority=60
