#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DDISABLE_FRONTEND=ON

override_dh_installudev:
	dh_installudev --name=galaxy-s --priority=60
